/*
Theme Name: D'Ros House Theme
Theme URI: https://wordpress.com/
Template: generatepress
Author: Automattic
Author URI: https://wordpress.com/
Description: GeneratePress child theme
Version: 1.0
Text Domain: generatepress
*/
