@use "global" as *;

/* Footer */
     .site-footer {    

        #footer-widgets {            
            background-color: transparent;
        
            .footer-widgets-container {
                padding:0;
                max-width: 100%;

                .inner-padding {
                    padding:0;
                }           
            
                .inside-footer-widgets {
                    margin:0;
                    flex-direction: column;
                    
                    .footer-widget-1,
                    .footer-widget-2,
                    .footer-widget-3 {

                        & > *:not(.alignwide):not(.alignfull) {
                            @include default-width;
                        }

                        .alignslimmer {
                            @include slimmer-width;
                        }

                        .alignslim {
                            @include slim-width;
                        }

                        .aligndefault {
                            @include default-width;
                        }

                        .alignwide {
                            @include wide-width;
                        }

                        .alignfull {
                            margin:0;
                        }
                    }                    
                }
            }
        }
    }

/* Scroll  To Top */
    #toTop {
        border-radius: 100px 100px 0 0;
        pointer-events: auto;
        transition: opacity .4s ease-in-out,background .2s ease-in-out;
        right:75px;
        background-color: $primary;
        bottom: -5px;
        height: 35px;
        position: fixed;
        text-align: center;
        width: 48px;
        z-index: 100000;
        line-height: 1;
        cursor:pointer;
        display:none;
        box-shadow:5px 5px 30px rgba(0,0,0,.06);
        transition: $transition;
    }

    #toTop:before {
        content: '';		
        position:absolute;
        top:50%;		
        left:50%;
        margin-top:3px;
        border-color: $white;
        border-width: 0 2px 2px 0;
        border-style: solid;
        padding: 3px;
        transition:all 0.2s ease 0s;
        transform: translate(-50%, -50%) rotate(225deg);
        -webkit-transform: translate(-50%, -50%) rotate(225deg);
    }

    #toTop:hover {
        background-color:$secondary;	
        bottom:0;
    }
    
/* Popinfo */
    .popinfo-link {
        cursor: pointer;
        color:$link;
        text-decoration: underline;
    }

    .popinfo-content {
        display: none;
    }

    .popinfo-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        max-width: 100% !important;
        top: 0;
        left: 0;
        background-color: rgba(51,63,72,.8);        
        transition: $transition;
        display: none;
        z-index: 999999;
        align-items: center;
        justify-content: center;

        .popinfo-wrapper {
            display: none;
            width:100%;
            max-width: min(calc( var(--vw) - 2 * 20px ), 454px );
            padding:24px;
            position: relative;
            background-color: $white;
            border-radius: 4px;

            .popinfo-close {
                position: absolute;         
                background-color: $white;       
                color: $foreground;
                text-indent: 0;
                width: 30px;
                height: 30px;
                line-height: 26px;
                font-weight: bold;
                border-radius: 30px;
                border: 2px solid $foreground;
                font-size: 22px;
                top:10px;
                right:10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                z-index: 1;
                padding-bottom: 2px;
                transition: $transition;

                &:hover,
                &:focus {
                    color:$white;
                    background-color: $primary;
                    border-color:$primary;
                }
            }

            .popinfo-inner {
                @include font(span);
                line-height: 1.4;
            
                & > *:last-child {
                    margin:0;
                }
            }
        }
    }