@use "global" as *;

/* Transparent Header */
    body.transparent-header {
    
        .site-header {
            position: absolute;
            width:100%;            
        }
    }

/* Show Page Title */
    /*body.no-page-title {
    
        .page-heading-wrapper {
            display: none;
        }
    }*/

/* Header */   
    .admin-bar {
    
        .site-header {
        
            .inside-header {
                padding-top:112px;

                @media( max-width:$sml ) {
                    padding-top:126px;
                }
            }
        }
    }

    .site-header {     
        background-color: transparent;
        position: absolute;
        width: 100px;
        height:100vh;
        top:0;
        left:0;
        border-right:1px solid $border;
        z-index: 1000;

        background-image: url(../../assets/img/halftone.png);
    background-repeat: repeat;


        .inside-header {
            padding:80px 15px;
            justify-content: space-between;            
            flex-wrap: wrap;
            margin:0;
            flex-direction: column;
            max-width: 100%;
            height: 100%;

            @media( max-width:$md ) {
                flex-direction: row;
            }

            // Logo
                .site-logo {
                    max-width: 400px;

                    @media( max-width:$md ) {
                        margin:0;
                        flex:1;
                    }
                }

            // Burger
                #mobile-menu-control-wrapper {
                    background-color: transparent;
                    margin:0;

                    @media( max-width:$md ) {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .menu-bar-items {

                        .menu-bar-item {

                            a { 
                                line-height: 30px;                    
                                padding:1px 16px;
                            
                                .gp-icon svg {
                                    fill:$primary;
                                }

                                &:hover,
                                &:focus {
                                    .gp-icon svg {
                                        fill:$secondary;
                                    } 
                                }
                            }
                        }
                    }

                    .menu-toggle {   
                        background-color: transparent;    
                        line-height: 21px;

                        @media( max-width:$md ) {
                            display: block;
                        }
                                                 
                        .gp-icon svg {                            
                            width:21px;
                            height:21px;                
                            top:0;                        
                            fill:$primary; 
                            transition: $transition;    
                        }

                        &:hover,
                        &:focus {
                            .gp-icon svg {
                                fill:$secondary;
                            } 
                        }

                        /* Stylized Burger Icon */
                        background-color: transparent;    
                        line-height: 21px;                        
                        display: flex;
                        margin-left:24px;
                        padding:0;
                        border:none;
                        border-radius: 0;

                        @media( max-width:$sm ) {
                            margin-left:0; 
                        }
                                                 
                        svg {                                                                                                                

                            rect {
                                fill:$primary;
                                transition: $transition;    
                            }
                        }

                        &:hover,
                        &:focus {                            

                            svg {
                                
                                rect {
                                    fill:$secondary;
                                }

                                line {
                                    stroke:$primary;
                                }
                            }
                        }                        
                    }
                }

            // Main Menu
                #site-navigation.main-navigation {
                    background-color: transparent;
                    margin-left:0;
                    display: none;

                    &:not(.toggled) {
                    
                        .main-nav {
                        
                            ul {
                            
                                @media( max-width:$md ) {
                                    display: none;
                                }
                            }
                        }
                    }

                    &.toggled {

                        @media( max-width:$md ) {
                            margin-top:$half-spacing;                                                        
                        }
                    }

                    @media( max-width:$md ) {
                        flex-basis: 100%;
                    }

                    .inside-navigation {
                        max-width: 100%;
                
                        #primary-menu.main-nav {
                        
                            ul {
                            
                                li {

                                    a {
                                        text-transform: uppercase;
                                        color:$primary;
                                        padding:7px 16px 7px 15px;
                                        font-size:16px;
                                        line-height: $lh6;                                        
                                        
                                        &:hover,
                                        &:focus {
                                            color:$secondary;
                                        }                  

                                        @media( max-width:$md ) {
                                            padding:7px 0;
                                        }
                                    }

                                    &.current-menu-item {
                                    
                                        a {                                            
                                            color:$primary;
                                        }
                                    }

                                    &.menu-item-has-children {                                        

                                        a {
                                            padding-right:21px;
                                            position: relative;                                            
                                    
                                            .dropdown-menu-toggle {                                                
                                                position: absolute;
                                                padding:0;
                                                top:50%;
                                                transform: translateY(-50%);
                                                right:0;
                                                width:15px;
                                                height:15px;
                                                margin-top:-2px;
                                                display: flex;

                                                .gp-icon svg {
                                                    width:100%;
                                                    height:100%;
                                                }
                                            }
                                        }

                                        .sub-menu {
                                            padding:16px 0;
                                            pointer-events: auto;
                                            background-color: $background;
                                            box-shadow:0 0 1px #aaa;
                                            display: flex;
                                            flex-direction: column;
                                            gap:10px;

                                            li {
                                            
                                                a {
                                                    color:$primary;
                                                    padding:0 16px;

                                                    &:hover,
                                                    &:focus {
                                                        color:$secondary;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &.menu-cart,
                                    &.menu-myaccount {

                                        a {
                                            font-size: 0;
                                            display: flex;

                                            &:hover,
                                            &:focus {

                                                &:after {
                                                    background-color: $primary;
                                                }
                                            }

                                            &:after {
                                                content:'';
                                                @include font(h5);
                                                -webkit-mask-repeat: no-repeat;
                                                mask-repeat: no-repeat; 
                                                -webkit-mask-position:center;
                                                mask-position: center;
                                                -webkit-mask-size:30px 30px;
                                                mask-size:30px 30px;
                                                width:30px;
                                                height:30px;
                                                display: block;
                                                background-color: $heading;
                                            }
                                        }
                                    }

                                    &.menu-cart {
                                        
                                        a:after {
                                            -webkit-mask-image:url(../../assets/img/cart.svg);
                                            mask-image:url(../../assets/img/cart.svg);
                                        }
                                    }

                                    &.menu-myaccount {                                        
                                        
                                        a:after {                                            
                                            -webkit-mask-image:url(../../assets/img/user.svg);
                                            mask-image:url(../../assets/img/user.svg);
                                        }
                                    }
                                }
                            }
                        }  

                        .menu-bar-items {

                            @media( max-width:$md ) {
                                display: none;
                            }

                            .menu-bar-item {

                                &:last-child {
                                
                                    a {
                                        padding-right: 0;
                                    }
                                }
                        
                                a {                 
                                    line-height: $lh6;
                                    display: flex;

                                    .gp-icon svg {
                                        width:21px;
                                        height:21px;                
                                        top:0;                        
                                        fill:$primary; 
                                        transition: $transition;                                   
                                    } 

                                    &:hover,
                                    &:focus {
                                        .gp-icon svg {
                                            fill:$secondary;
                                        } 
                                    }
                                }
                            }
                        }
                    }          
                }
        }   

        &.transparentheader {
            
            .header-top {

                .left-menu {        

                    .burger-wrapper {
                    
                        .burger-inner {

                            .burgerbar {
                                background-color: $white;
                            }
                        }
                    }                

                    #site-navigation {
                        .inside-navigation {
                            .main-nav {
                                ul.desktop-primary-menu {
                                    & > li {
                                        & > a {
                                            color:$white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .right-menu {                        

                    .header-top-search-wrapper {
                        a {
                            .gp-icon {                                
                                svg {
                                    fill:$white;
                                }
                            }
                        }
                    }

                    #secondary-navigation {
                        .main-nav {
                            ul.secondary-menu {
                                & > li {
                                    & > a {
                                        color:$white;
                                    }

                                    &#menu-search-wrapper {
                                    
                                        a {
                                            background-color: $white;
                                        }
                                    }

                                    &#menu-cart-wrapper {
                                    
                                        a {
                                        
                                            @media( max-width:$md ) {
                                                background-color: $white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }            
        }         
    }

    