@use "../components/" as *;

body.home {
    /*overflow-y: scroll;   
    scrollbar-width: none; */
    overflow: hidden;
}

body.home::-webkit-scrollbar {
  display: none;          /* Chrome/Safari */
}

.home {    
    height: 100%;

    header {
        display: none;
    }

    #page {
        max-width: initial;
    
        .site-content {
            max-width: initial;
        
            #primary {
            
                #main {
                    width: auto;
                
                    .inside-article {
                    
                        & > .entry-header {
                            display: none;
                        }

                        
                    }
                }
            }

            .page-heading-wrapper {
                display: none;
            }
        }
    }

    .entry-content {
                        
        & > .wp-block-group {
            padding:0;
            height:100vh;

            .wp-block-group__inner-container {
                max-width: 100%;
                height: 100%;
                padding:0;
            }
        }

        /*.home-section1 {
            flex:0 0 1410px;
            padding-left: clamp(8.125rem, -3.4812rem + 18.1347vw, 12.5rem);
            padding-right: clamp(1.875rem, -4.7571rem + 10.3627vw, 4.375rem);

            @media( max-width:1410px ) {
                flex:0 0 100vw;
            }

            &.wp-block-group {
                display: flex;
                align-items: center;

                .wp-block-group__inner-container {
                    max-width: initial;
                    width: 100%;
                }
            
                .wp-block-group {        
                    display: flex;
                    justify-content: space-between;
                    height: 100%;

                    @media( max-width:1024px ) {
                        flex-direction: column;
                        justify-content: center;
                    }

                    .wp-block-heading {
                        line-height: 112px;
                    }

                    & > *:last-child {
                        width: 350px;
                        margin-top:229px;

                        @media( max-width:1024px ) {
                            width: 409px;
                            margin-top:0;
                        }
                    }
                }
            }
        }

        .home-section2 {
            flex:0 0 1600px;
            
            .wp-block-image {
                height: 100%;

                img {
                    height: 100%;
                    width: auto;
                    max-width: initial;
                }
            }
        }

        .home-section3 {
            flex:0 0 1870px;
            padding-left:clamp(1.875rem, -42.8918rem + 69.9482vw, 18.75rem);
            padding-right:clamp(1.875rem, -42.8918rem + 69.9482vw, 18.75rem);

            & > .wp-block-group__inner-container {
                display: flex;
                align-items: center;
            }
        }

        .home-section4 {
            flex:0 0 1920px;
            background-color: $tertiary;
            overflow: hidden;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                inset: 0;

                background-image: url("data:image/svg+xml;utf8,\
                <svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'>\
                <filter id='noiseFilter'>\
                <feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4'/>\
                </filter>\
                <rect width='100%' height='100%' filter='url(#noiseFilter)' opacity='0.25'/>\
                </svg>");

                mix-blend-mode: multiply;  
                pointer-events: none;
            }
        }

        .home-section5 {
            flex:0 0 1600px;
        }

        .home-section6 {
            flex:0 0 1680px;
            padding-left: 300px;
            padding-right:300px;
        }*/

        .home-section1 {
            flex:0 0 584px;

            .wp-block-group__inner-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap:105px;
                .wp-block-image {
                    margin-left: 150px;
                }

                .wp-block-heading {
                    width:850px;
                    margin-left: 200px;
                    margin-right: -466px;
                    position: relative;
                    z-index: 10;
                }
            }
        }

        .home-section2 {
            flex:0 0 2280px;

            .wp-block-image {
                position: absolute;
                inset: 0;
                margin: 0;
                width: 100%;
                height: 100%;
                display: block;
                pointer-events: none;

                &:first-child {
                    z-index: 2;
                }

                &:last-child {
                    z-index: 1; 
                    opacity: 0; 
                    transform: scale(1.02);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                    will-change: opacity, transform;
                }
            }
            
            .wp-block-group__inner-container {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }

        .home-section3 {
            flex:0 0 1920px;
            
            position: relative;

            .wp-block-group__inner-container {
                max-width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                & > * {
                    max-width: 1000px;

                    p {
                        position: relative;
                        z-index: 2;
                        margin-bottom: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }                
            }

            .wp-block-image {
                position: absolute;
                z-index: 1;
                bottom:0;
                right:0;
            }
        }

        .home-section4 {
            flex:0 0 1920px;

            .wp-block-image {
                height: 100%;

                img {
                    height: 100%;
                    width: auto;
                    max-width: initial;
                }
            }
        }

        .home-section5 {
            flex:0 0 1530px;
            padding-left:200px;
            padding-right: 200px;
            font-family: $secondary-font;

            .wp-block-group__inner-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .wp-block-columns {
                    margin:0;
                    width: 100%;
                    justify-content: space-between;

                    .wp-block-column {
                        flex:initial;

                        .wp-block-image {
                            display: flex;

                            img {
                                width: 100%;
                            }
                        }

                        &:first-child {

                            .wp-block-image {
                                width: 500px;
                            }
                        }
                    
                        &:last-child {
                            padding-top:124px;
                        
                            strong {
                                font-weight: 400;
                            }

                            p {
                                margin-bottom: 45px;
                                font-size: 30px;
                            }                            

                            .wp-block-image {
                                width: 509px;
                                margin-left: 30px;
                            }
                        }
                    }
                }
            }
        }

        .home-section6 {
            flex:0 0 1210px;
            padding-left: 100px;
            position: relative;

            & > .wp-block-group__inner-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
            
                .wp-block-image {
                    position: absolute;
                    top:50%;
                    left:100%;
                    margin-left: -250px;
                    transform: translateY(-50%);
                    width: 500px;
                }

                .wp-block-group {
                    max-width: 560px;

                    .wp-block-heading {
                        margin-bottom: 54px;
                    }
                    
                    a {
                        color:$foreground;
                        margin-top:50px;
                        margin-bottom: 0px;

                        &:hover,
                        &:focus {
                            color:$primary
                        }
                    }                     
                }
            }
        }

        .home-section7 {
            flex:0 0 2200px;
            background-color: #663B20;
            padding-left: 600px;

            .wp-block-image {
                height: 100%;

                img {
                    height: 100%;
                    width: auto;
                    max-width: initial;
                }
            }
        }

        .home-section8 {
            flex:0 0 1574px;
            padding-left: 200px;
            padding-right: 200px;
            
            .wp-block-group__inner-container {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .home-section9 {
            flex:0 0 830px;
            padding-left: 100px;
            padding-right: 100px;

            .wp-block-group__inner-container {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                & > * {
                    max-width: 630px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .home-section10 {
            flex:0 0 1300px;
            padding-left: 400px;
            padding-right: 150px;
        }
    }
}


.progress-bar-wrapper {
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;

    .progress-bar {
        height:10px;
        background-color: $primary;
        width:0;
    }
}