@forward "../layout/frontpage";
@forward "../layout/home";
@forward "../layout/page";
@forward "../layout/single";
@forward "../layout/search";
@forward "../layout/error404";
@forward "../layout/page_about";
@forward "../layout/page_the_rooms";