@use "../components/" as *;

.home-section-about1x,
.home-section-about2x,
.home-section-about3x,
.home-section-about4x,
.home-section-about5x,
.home-section-about6x,
.home-section-about7x,
.home-section-about8x,
.home-section-about9x,
.home-section-about10x,
.home-section-about11x,
.home-section-about12x,
.home-section-about13x,
.home-section-about14x,
.home-section-about15x {
    display: none !important;
}

.home-section-about3 {
    padding-left: 300px;
    padding-right: 300px;

    @media( max-width:$ipad ) {        
        padding:120px 25px;
        min-height: 0 !important;
    }

    .wp-block-group__inner-container {
        display: flex;        
        justify-content: center;
        align-items: center;

        & > .wp-block-columns {            

            & > .wp-block-column {

                .wp-block-columns {
                    gap:120px;
                    margin:0;

                    @media( max-width:$ipad ) {
                        gap: 25px;
                        flex-direction: column;
                        max-width: 600px;                        
                    }

                    p {

                        @media( max-width:$ipad ) {
                            margin-bottom: 0;
                        }                    
                    }
                }
            
                & > p {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.home-section-about6 {
    flex:0 0 1920px;       
    padding-left:200px;
    padding-right: 200px;
    font-family: $tertiary-font;
    font-size: 50px;
    line-height: 1.2;

    @media( max-width:$ipad )      {
        padding-left: $spacing;
        padding-right: $spacing;
    }

    .wp-block-group__inner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:150px;

        .wp-block-columns {
            margin:0;
            width: 100%;
            justify-content: space-between;
            gap:200px;

            @media( max-width:$ipad ) {
                flex-direction: column;
                gap:120px;
            }

            .wp-block-column {
                flex:initial;

                @media( max-width:$ipad ) {
                    display: flex;
                    justify-content: center;
                }

                .wp-block-image {
                    display: flex;

                    img {
                        width: 100%;
                    }
                }

                &:first-child {
                    position: relative;
                    display: flex;
                    align-items: center;

                    .wp-block-image {
                        width: 440px;

                        @media( max-width:$ipad ) {
                            width: 100%;   
                            max-width: 440px;
                        }
                    }
                    
                    p {
                        top:calc( 100% + 30px );                        
                        right:-108px;
                        white-space: nowrap;           

                        @media( max-width:$ipad ) {
                            width: 100%;   
                            max-width: 440px;
                            white-space:initial;
                        }             
                    }                        
                }
            
                &:last-child {

                    .wp-block-image {
                        width: 880px;

                        @media( max-width:$ipad ) {
                            width: 100%;   
                            max-width: 720px;
                        }
                    }
                }
            }
        }
    }
}

.home-section-about8 {        
    padding-left: 200px;

    @media( max-width:$ipad ) {
        padding:0 25px 120px;
    }

    .wp-block-group__inner-container {
        display: flex;
        align-items: center; 
        gap:200px;

        @media( max-width:$ipad ) {
            gap:120px;
            flex-direction: column;
        }

        & > .wp-block-group {
            max-width: 600px;
            width: 100%;

            .wp-block-group__inner-container {
                display: block;
            }
        }         

        .wp-block-image {
            width:720px;
        } 
    }
}

.home-section-about9 {
    padding-left: 200px;
    padding-right: 200px;

    @media( max-width:$ipad )      {
        padding-left: $spacing;
        padding-right: $spacing;
        padding-bottom: 120px;
    }

    .wp-block-group__inner-container {
        display: flex;                
    
        .wp-block-columns {
            margin:0;
            gap:200px;
            height: 100%;          

            @media( max-width:$ipad ) {
                flex-direction: column;
                gap:120px;
                width: 100%;
            }          

            .wp-block-column {
                display: flex;
                align-items: center;

                @media( max-width:$ipad ) {
                    display: flex;
                    justify-content: center;
                }
            
                .wp-block-image {
                    width: 720px;

                    @media( max-width:$ipad ) {
                        width: 100%;   
                        max-width: 720px;
                    }
                }

                &:nth-child(2) {
                
                    .wp-block-image {
                        width:600px;

                        @media( max-width:$ipad ) {
                            width: 100%;   
                            max-width: 600px;
                        }
                    }
                }
            }
        }
    }          
}

.home-section-about12 {
    flex:0 0 1920px;       
    padding-left:200px;
    padding-right: 200px;
    font-family: $tertiary-font;
    font-size: 50px;
    line-height: 1.2;

    @media( max-width:$ipad )      {
        padding-left: $spacing;
        padding-right: $spacing;
    }

    .wp-block-group__inner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:150px;

        .wp-block-columns {
            margin:0;
            width: 100%;
            justify-content: space-between;
            gap:200px;

            @media( max-width:$ipad ) {
                flex-direction: column;
                gap:120px;
                width: 100%;
            }

            .wp-block-column {
                flex:initial;

                @media( max-width:$ipad ) {
                    display: flex;
                    justify-content: center;
                }

                .wp-block-image {
                    display: flex;

                    img {
                        width: 100%;
                    }
                }

                &:first-child {
                    position: relative;
                    display: flex;
                    align-items: center;

                    .wp-block-image {
                        width: 700px;

                        @media( max-width:$ipad ) {
                            width: 100%;   
                            max-width: 720px;
                        }
                    }
                    
                    p {
                        top:calc(100% + 30px );
                        right:-76px;

                        @media( max-width:$ipad ) {
                            width: 100%;   
                            max-width: 720px;
                        }
                    }                        
                }
            
                &:last-child {

                    .wp-block-image {
                        width: 620px;

                        @media( max-width:$ipad ) {
                            width: 100%;   
                            max-width: 440px;
                        }
                    }
                }
            }
        }
    }
}

.home-section-about13 {        

    @media( max-width:$ipad ) {
        padding:120px 25px;
    }

    .wp-block-group__inner-container {
        display: flex;
        align-items: center; 
        gap:200px;

        @media( max-width:$ipad ) {
            gap:120px;
            flex-direction: column;
        }

        & > .wp-block-group {
            max-width: 600px;
            width: 100%;
            margin-bottom: 0;

            .wp-block-group__inner-container {
                display: block;

                p {
                    margin-bottom: 0;
                }
            }
        }         

        .wp-block-image {
            width:920px;

            @media( max-width:$ipad ) {
                width: 100%;
                max-width: 600px;
            }
        } 
    }
}

.home-section-about16 {
    padding-left: 200px;
    padding-right: 200px;

    @media( max-width:$ipad ) {
        padding-left: $spacing;
        padding-right: $spacing;
        padding-bottom: 120px;
    }

    .wp-block-group__inner-container {
        display: flex;                
    
        .wp-block-columns {
            margin:0;
            gap:200px;
            height: 100%;        

            @media( max-width:$ipad ) {
                flex-direction: column;
                gap:120px;
                width: 100%;
            }            

            .wp-block-column {
                display: flex;
                align-items: center;

                @media( max-width:$ipad ) {
                    display: flex;
                    justify-content: center;
                }
            
                .wp-block-image {
                    width: 860px;

                    @media( max-width:$ipad ) {
                        width: 100%;   
                        max-width: 720px;
                        text-align: center;
                    }
                }

                &:nth-child(2) {
                
                    .wp-block-image {
                        width:460px;

                        @media( max-width:$ipad ) {
                            width: 100%;   
                            max-width: 600px;
                        }
                    }
                }
            }
        }
    }          
}

.home-section-about18 {
    padding-left: 200px;
    padding-right: 200px;

    @media( max-width:$ipad )      {
        padding:120px 25px;
    }

    .wp-block-group__inner-container {
        display: flex;                
    
        .wp-block-columns {
            margin:0;
            gap:200px;
            height: 100%;        

            @media( max-width:$ipad ) {
                flex-direction: column;
                gap:120px;
                width: 100%;
            }            

            .wp-block-column {
                display: flex;
                align-items: center;

                @media( max-width:$ipad ) {
                    display: flex;
                    justify-content: center;
                }
            
                .wp-block-image {
                    width: 674px;

                    @media( max-width:$ipad ) {
                        width: 100%;   
                        max-width: 674px;
                    }
                }

                &:nth-child(2) {
                
                    .wp-block-image {
                        width:646px;

                        @media( max-width:$ipad ) {
                            width: 100%;   
                            max-width: 646px;
                        }
                    }
                }
            }
        }
    }          
}