@use "../components/" as *;

.home-section-rooms1x,
.home-section-rooms2x,
.home-section-about3x,
.home-section-rooms4x,
.home-section-rooms5x,
.home-section-rooms6x,
.home-section-rooms7x,
.home-section-rooms8x,
.home-section-rooms9x,
.home-section-rooms10x,
.home-section-rooms11x,
.home-section-rooms12x,
.home-section-rooms13x,
.home-section-rooms14x,
.home-section-rooms15x,
.home-section-rooms16x,
.home-section-rooms17x,
.home-section-rooms18x,
.home-section-rooms19x,
.home-section-rooms20x,
.home-section24x,
.home-section25x {
    display: none !important;
}


.home-section-rooms3 {
    padding-left: 300px;
    padding-right: 300px;

    .wp-block-group__inner-container {
        display: flex;        
        justify-content: center;
        align-items: center;

        & > .wp-block-columns {
            gap:120px;

            & > .wp-block-column {
            
                & > p {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.home-section-rooms5 {
    position: relative;

    .wp-block-group__inner-container {
        height: 1080px !important;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-49%);

        @media( max-width:$ipad ) {
            height: auto !important;
            position: relative;
            transform: none;
        }

        @media( max-width:$sm ) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow-x: hidden;
        }
    }
}

.symbol-of-stillness1,
.symbol-of-stillness2,
.symbol-of-stillness3 {
    position: absolute;
}

.symbol-of-stillness1 {
    top:354px;
    left:296px;
    /*bottom: clamp(7.5rem, -14.0749rem + 25.2708vw, 16.25rem); /* 60 - 120 */

    @media( max-width:$ipad ) {
        top:50%;        
        left:25px;
        transform: translateY(-50%);
        width: 252px;
    }

    @media( max-width:$sm ) {
        left: -70px;
        margin-top:-50px;
    }
}

.symbol-of-stillness2 {
    top:80px;
    /*top: clamp(1.25rem, -7.9964rem + 10.8303vw, 5rem); /* 20 - 80 */
    left:1136px;

    @media( max-width:$ipad ) {
        right: 25px;
        left: initial;
        width: 300px;
    }

    @media( max-width:$sm ) {
        right: -140px;
    }
}

.symbol-of-stillness3 {
    top:732px;
    /*bottom: clamp(1.25rem, -14.1606rem + 18.0505vw, 7.5rem); /* 20 - 120 */
    left:1024px;

    @media( max-width:$ipad ) {
        bottom:80px;
        right: 150px;
        top:initial;
        left: initial;
        width: 220px;
    }

    @media( max-width:$sm ) {
        right: -100px;
        bottom:120px;
    }
}

.symbol-of-stillness-caption1,
.symbol-of-stillness-caption2,
.symbol-of-stillness-caption3,
.symbol-of-stillness-slogan{
    @include font(h0);
    position: absolute;
    color:$secondary;
    margin:0;

    @media( max-width:$ipad ) {
        font-size: 100px;
    }

    @media( max-width:$sm ) {
        font-size: 70px;
        position: static;
    }
}

.symbol-of-stillness-caption1 {
    font-weight: bold;
    top:256px;
    left:730px;
    /*bottom:667px*/

    @media( max-width:$ipad ) {
        top:150px;
        left:0;
        width: 100%;
        text-align: center;
    }
}

.symbol-of-stillness-caption2 {
    font-weight: bold;
    top:472px;
    left:1136px;
    /*bottom:453px;*/

    @media( max-width:$ipad ) { 
        right:100px;
        left:initial;
        top:50%;
        margin-top:-65px;
    }

    @media( max-width:$sm ) { 
        text-align: center;
        margin-top:0;
    }
}

.symbol-of-stillness-caption3 {
    font-style: italic;
    top:668px;
    left:621px;
    /*bottom: clamp(8.75rem, -8.9722rem + 20.7581vw, 15.9375rem); /* 140 - 255 */

    @media( max-width:$ipad ) {
        width:100%;
        left:0;
        top:initial;
        bottom:150px;
        text-align: center;
    }

    @media( max-width:$sm ) { 
        margin-bottom: 50px;
    }
}

.symbol-of-stillness-slogan {
    top:520px;
    /*bottom:485px;*/
    left:639px;
    color:$primary;
    @include font(psmall);
    width: 352px;
    text-align: right;
    margin:0;

    @media( max-width:$ipad ) {
        font-size: 20px;
        top:50%;
        left:50%;
        margin-left: -250px;
        margin-top:-36px;
    }

    @media( max-width:$sm ) { 
        margin:0 auto;
        max-width: 352px;
        width: 100%;
        text-align: center;
    }
}

.home-section-rooms6.unit-head {
    
    .wp-block-group {
    
        .wp-block-group__inner-container {

            & > * {
                max-width: 615px;
            }
        }
    }
}

.home-section-rooms7,
.home-section-rooms9,
.home-section-rooms12,
.home-section-rooms14 {
    padding-left: 200px;
    padding-right: 200px;

    @media( max-width:$ipad )      {
        padding-left: $spacing;
        padding-right: $spacing;
    }

    .wp-block-group__inner-container {
        display: flex;                
    
        .wp-block-columns {
            margin:0;
            gap:200px;
            height: 100%;           

            @media( max-width:$ipad ) {
                flex-direction: column;
                gap:120px;
                width: 100%;
            }         

            .wp-block-column {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                @media( max-width:$ipad ) {
                    display: flex;
                    justify-content: center;
                }
            
                .wp-block-image {
                    width: 660px;

                    @media( max-width:$ipad ) {
                        width: 100%;   
                        max-width: 660px;
                    }
                }
            }
        }
    }          
}

.home-section-rooms9,
.home-section-rooms14 {

    @media( max-width:$ipad ) {
        padding-bottom: 120px;
    }
}

.home-section-rooms8,
.home-section-rooms13 {

    .wp-block-group__inner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .wp-block-image {
            margin-bottom: 40px;
        }
    }
}

.home-section-rooms17 {
    flex:0 0 1920px;       
    padding-left:200px;
    padding-right: 200px;
    font-family: $tertiary-font;
    font-size: 50px;
    line-height: 1.2;

    @media( max-width:$ipad )      {
        padding-left: $spacing;
        padding-right: $spacing;
    }

    .wp-block-group__inner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:150px;

        .wp-block-columns {
            margin:0;
            width: 100%;
            justify-content: space-between;
            gap:200px;

            @media( max-width:$ipad ) {
                flex-direction: column;
                gap:120px;
                width: 100%;
            }

            .wp-block-column {
                flex:initial;
                display: flex;
                align-items: center;
                justify-content: center;

                @media( max-width:$ipad ) {
                    display: flex;
                    justify-content: center;
                }

                .wp-block-image {
                    display: flex;

                    img {
                        width: 100%;
                    }
                }

                &:first-child {  

                    .wp-block-image {
                        width: 680px;

                        @media( max-width:$ipad ) {
                            width: 100%;   
                            max-width: 680px;
                        }
                    }                  
                                           
                }
            
                &:last-child {
                    position: relative;

                    .wp-block-image {
                        width: 640px;

                        @media( max-width:$ipad ) {
                            width: 100%;   
                            max-width: 640px;
                        }

                        img {
                        
                            @media( max-width:$ipad ) {
                                object-position: right top;
                            }
                        }
                    }

                    p {
                        top:calc(100% + 30px );
                        left:-51px; 

                        @media( max-width:$ipad ) {
                            width: 100%;   
                            max-width: 640px;
                            text-align: right;
                        }
                    } 
                }
            }
        }
    }
}

.home-section-rooms18 {

    @media( max-width:$ipad ) {
        padding:120px 25px;
    }

    & > .wp-block-group__inner-container {
        display: flex;
        align-items: center;
        justify-content: center;        

        .wp-block-columns {
            margin:0;
            gap:300px;

            @media( max-width:$ipad ) {
                flex-direction: column;
                gap:120px;
            }

            .wp-block-column {
                display: flex;
                flex-direction: column;
                gap:40px;

                &:nth-child(1) {
                    flex:0 0 530px;
                
                    p {
                        &:nth-child(1)::before { background-image: url(../../assets/img/icons/icon-ac.webp); }
                        &:nth-child(2)::before { background-image: url(../../assets/img/icons/icon-tv.webp); }
                        &:nth-child(3)::before { background-image: url(../../assets/img/icons/icon-refrigerator.webp); }
                        &:nth-child(4)::before { background-image: url(../../assets/img/icons/icon-stove.webp); }
                        &:nth-child(5)::before { background-image: url(../../assets/img/icons/icon-coffee.webp); }
                    }
                }

                &:nth-child(2) {
                    flex:0 0 690px;
                
                    p {
                        &:nth-child(1)::before { background-image: url(../../assets/img/icons/icon-bed.webp); }
                        &:nth-child(2)::before { background-image: url(../../assets/img/icons/icon-nosmoking.webp); }
                        &:nth-child(3)::before { background-image: url(../../assets/img/icons/icon-key.webp); }
                        &:nth-child(4)::before { background-image: url(../../assets/img/icons/icon-wifi.webp); }
                    }
                }

                .wp-block-group {

                    .wp-block-group__inner-container {

                        p {
                            padding-bottom: 24px;
                            margin-bottom: 24px;
                            border-bottom: 1px solid $separator;
                            display: flex;
                            gap:30px;

                            &:last-child {
                                margin:0;
                                padding:0;
                            }

                            &::before {
                                content:'';
                                width: 40px;
                                height: 40px;
                                display: block;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                            }                        
                        }
                    }
                }
            }
        }   
    }
}

.home-section-rooms19 {
    padding-left: 200px;
    padding-right: 200px;

    @media( max-width:$ipad )      {
        padding-left: $spacing;
        padding-right: $spacing;
        padding-bottom: 120px;
    }

    .wp-block-group__inner-container {
        display: flex;                
    
        .wp-block-columns {
            margin:0;
            gap:200px;
            height: 100%;     

            @media( max-width:$ipad ) {
                flex-direction: column;
                gap:120px;
                width: 100%;
            }               

            .wp-block-column {
                display: flex;
                align-items: center;

                @media( max-width:$ipad ) {
                    display: flex;
                    justify-content: center;
                }

                &:nth-child(1) {
                    flex: 0 0 720px;

                    @media( max-width:$ipad ) {
                        flex: initial;
                    }

                    .wp-block-image {
                        width: 100%;

                        @media( max-width:$ipad ) {
                            width: 100%;   
                            max-width: 720px;
                        }
                    }
                }
               
                &:nth-child(2) {
                    flex:0 0 600px;

                    @media( max-width:$ipad ) {
                        flex: initial;
                    }
                
                    .wp-block-image {
                        width: 100%;

                        @media( max-width:$ipad ) {
                            width: 100%;   
                            max-width: 600px;
                        }
                    }
                }
            }
        }
    }          
}

.unit-bookyourstay {

    .wp-block-cover {
        height:100%;

        @media( max-width:$ipad ) {
            padding:120px 25px;
        }

        .wp-block-cover__inner-container {

            @media( max-width:$ipad ) {
                max-width: 560px;
                width: 100%;
                margin:0 auto;
            }
        }
    }

    .wp-block-columns {
    
        @media( max-width:$ipad ) {
            flex-direction: column;
            gap:60px;
        }
    }

    .wp-block-buttons {

        .wp-block-button {
            width: 100%;

            @media( max-width:$ipad ) {
                display: flex;
                justify-content: center;
            }
        
            .wp-block-button__link {
                padding:30px 50px;
                width: 100%;
                border:1px solid $secondary;
                background-color: transparent;
                color:$secondary;

                @media( max-width:$ipad ) {
                    max-width: 440px;
                    margin:60px auto 0;
                }

                &:hover,
                &:focus {
                    background-color: $secondary;
                    color:$white;
                }
            }
        }
    }
}